@font-face {
    font-family: "Care pro Italic";
    src: url("../../../../../public/fonts/carePro/TypeMates/Cera-Pro-Thin-Demo.otf");
}

.container{
    display: flex;
    justify-content: space-between;
    font-family: "Care pro Italic";
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
}
.container:first-child{
    color: #46A358;
    font-family: "Care pro";
}