* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Care pro Black";
    src: url("../../../public/fonts/carePro/TypeMates/Cera-Pro-Black-Demo.woff");
}
@font-face {
    font-family: "Hanging Letters";
    src: url("../../../public/fonts/HangingLetters/fonts/mr_hanginglettersg.woff");
}

.main__container__welcome {
    display: flex;
    width: 1200px;
    background-color: #F5F5F580;
    height: 450px;
    left: 7.05%;
    margin-top: 12px;


    .main__container__welcome_text {
        display: flex;
        flex-direction: column;
        width: 560px;
        height: 297px;
        margin-top: 68px;
        margin-left: 40px;
        //background-color: #46A358;

        .main__container__welcome_text-Sredne {
            font-family: "Care pro";
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #3D3D3D;
        }

        .main__container__welcome_text-Big {
            font-family: "Care pro Black";
            font-weight: 900;
            font-size: 70px;
            line-height: 70px;
            color: #3D3D3D;
            margin-top: 7px;
            margin-bottom: 5px;
            width: auto;
            height: auto;

            //background-color: aquamarine;
            .main__container__welcome_text-BigSpan {
                color: #46A358;
            }
        }

        .main__container__welcome_text-Small {
            font-family: "Care pro";
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #727272;
            width: 557px;
        }
    }

    .main__container__welcome_image {
        width: 518px;
        height: 450px;
        //background-color: aquamarine;
        background-image: url("../../../public/png/kustwelcome.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: auto;

        .main__container_welcome_image-small {
            //position: absolute;
            width: 135px;
            height: 135px;
            //background-color: rgb(0, 0, 0);
            background-image: url("../../../public/png/kustsmallwelcome.png");
            margin-top: 300px;
        }
    }

    .main__container__welcome_text_button {
        width: 140px;
        height: 40px;
        margin-top: 44px;
        border-radius: 6px;
        border: none;
        background-color: #46A358;
        color: #ffff;
        font-family: "Care pro";
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
    }
}

.main__container__main {
    width: 1200px;
    //background-color: aqua;
    height: auto;
    margin-top: 26px;
    display: flex;

    .main__container__main_colunLeft {
        width: 310px;
        height: 1244px;
        background-color: #F5F5F580;

        .main__container__main_colunLeft_categories {
            width: 268px;
            height: 383px;
            //background-color: #46A358;
            margin-left: 18px;
            margin-top: 14px;
            font-family: "Care pro";
            font-size: 18px;
            font-weight: 700;
            line-height: 16px;
            margin-bottom: 36px;

            .main__container__main_colunLeft_categories-categories {
                width: 256px;
                height: 360px;
                margin-left: auto;
                margin-top: 7px;
                //background-color: aquamarine;
            }
        }

        .main__container__main_colunLeft_priceRange {
            width: 226px;
            height: 133px;
            //background-color: #46A358;
            margin-left: 18px;
            font-family: "Care pro";
            font-size: 18px;
            font-weight: 700;
            line-height: 16px;
            margin-bottom: 46px;

            .main__container__main_colunLeft_priceRange-range {
                width: 214px;
                height: 97px;
                margin-top: 20px;
                margin-left: auto;
                //background-color: aquamarine;
            }
        }

        .main__container__main_colunLeft_size {
            width: 268px;
            height: 143px;
            //background-color: #46A358;
            margin-left: 18px;
            margin-top: 14px;
            font-family: "Care pro";
            font-size: 18px;
            font-weight: 700;
            line-height: 16px;
            margin-bottom: 19px;

            .main__container__main_colunLeft_size-size {
                width: 256px;
                height: 120px;
                margin-left: auto;
                margin-top: 7px;
                //background-color: aquamarine;
            }
        }

        .main__container__main_colunLeft_banner {
            width: 310px;
            height: 452px;
            //background-color: #3D3D3D;
            background: linear-gradient(#EDF6EE , #F8FBF8);
            padding: 18px 0 0 0;

            .main__container__main_colunLeft_banner-title{
                font-family: "Hanging Letters";
                width: 266px;
                height: 65px;
                margin-left: 22px;
                font-size: 65px;
                line-height: 65px;
                font-weight: 400;
                //background-color: #d2e5d5;
                color: #46A358;
            }
            .main__container__main_colunLeft_banner-sale{
                font-family: "Care pro";
                font-size: 23px;
                line-height: 16px;
                font-weight: 700;
                margin-left: 72px;
                margin-top: 11px;
            }
            .main__container__main_colunLeft_banner-image{
                width: 310px;
                height: 360px;
                //background-color: #ff6f01;
                background-image: url("../../../public/png/bannerImage.png");

                .main__container__main_colunLeft_banner-imageArraySmallOne{
                    //background: linear-gradient(#EDF6EE , #F8FBF8);
                    background: linear-gradient(145.46deg, rgba(70, 163, 88, 0.3) -46.09%, rgba(70, 163, 88, 0) 103.28%);
                    width: 15px;
                    height: 15px;
                    margin-left: 38px;
                    border-radius: 50%;
                }
                .main__container__main_colunLeft_banner-imageArraySmallTwo{
                    //background: linear-gradient(#EDF6EE , #F8FBF8);
                    background: linear-gradient(145.46deg, rgba(70, 163, 88, 0.3) -46.09%, rgba(70, 163, 88, 0) 103.28%);
                    width: 22px;
                    height: 22px;
                    margin-left: 20px;
                    margin-top: 220px;
                    border-radius: 50%;
                }
                .main__container__main_colunLeft_banner-imageArrayBig{
                    //background: linear-gradient(#EDF6EE , #F8FBF8);
                    background: linear-gradient(145.46deg, rgba(70, 163, 88, 0.3) -46.09%, rgba(70, 163, 88, 0) 103.28%);
                    width: 45px;
                    height: 45px;
                    margin-left: 248px;
                    //margin-top: 223px;
                    border-radius: 50%;
                }
            }
        }
    }

    .main__container__main_colunRight {
        width: 840px;
        height: 1244px;
        //background-color: #727272;
        margin-left: 50px;

        .main__container__main_colunRight_filter{
            width: 100%;
            height: 23px;
            display: flex;
            justify-content: space-between;
            //background-color: #46A358;

            .main__container__main_colunRight_filter__plans{
                display: flex;
                margin-bottom: 31px;
                
                .main__container__main_colunRight_filter__plans-item{
                    margin-right: 40px;
                    cursor: pointer;
                    font-family: "Care pro";
                    font-size: 15px;
                    line-height: 16px;

                    .main__container__main_colunRight_filter__plans-item:last-child{
                        margin-right: 0px;
                    }
                }
            }

            .main__container__main_colunRight_filter__filter{
                display: flex;
                align-items: center;
                justify-content: center;

                .main__container__main_colunRight_filter__filter-item{
                    margin-right: 5px;
                    font-family: "Care pro";
                    font-size: 15px;
                    line-height: 16px;
                    cursor: pointer;

                    .main__container__main_colunRight_filter__filter-item:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }

        .main__container__main__columRight__container__product{
            width: 840px;
            height: 1190px;
            //background-color: aliceblue;
            margin-top: 31px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
            column-gap: 33px;
            
            .main__container__main__columRight__container__product__item{
                width: 258px;
                height: 350px;
                //background-color: #915d5d;

                .main__container__main__columRight__container__product__item-image{
                    width: 100%;
                    height: 300px;
                    background-color: #FBFBFB;
                    margin-bottom: 12px;
                    background-image: url("../../../public/png/Koluchka.png");
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .main__container__main__columRight__container__product__item-title{
                    margin-bottom: 6px;
                    font-family: "Care pro";
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                }
                .main__container__main__columRight__container__product__item-price{
                    font-family: "Care pro";
                    font-size: 18px;
                    line-height: 16px;
                    font-weight: 700;
                    color: #46A358;
                }
            }
        }
    }
}

.main__container__papgeNumber{
    width: 1200px;
    height: 35px;
    margin-top: 90px;
    //background-color: #3D3D3D;
    display: flex;
    justify-content: end;

    .main__container__papgeNumber__button{
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3D3D3D;
        font-family: "Care pro Italic";
        font-weight: 300;
        font-size: 18px;
        line-height: 16px;
        border-radius: 4px;
        border: 1px solid #E5E5E5;
        margin-left: 10px;
        cursor: pointer;
    }
    .main__container__papgeNumber__button-active{
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffff;
        font-family: "Care pro";
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        border-radius: 4px;
        margin-left: 10px;
        background-color: #46A358;
        border: none;
        cursor: pointer;
    }
}

.main__container__offers{
    width: 1205px;
    height: 302px;
    //background-color: #727272;
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;

    .main__container__offers__columLeft{
        width: 591px;
        height: 100%;
        //background-color: #46A358;

        .main__container__offers__columLeft__back__img-left{
            position: absolute;
            width: 292px;
            height: 292px;
            //background-color: aqua;
            z-index: 2;
            background-image: url("../../../public/png/flowersLeft.png");
        }
        .main__container__offers__columLeft__back__img-right{
            position: absolute;
            width: 292px;
            height: 292px;
            //background-color: aqua;
            z-index: 2;
            background-image: url("../../../public/png/flowersRight.png");
        }   

        .main__container__offers__columLeft__back{
            width: 586px;
            height: 250px;
            background-color: #FBFBFB;
            margin-top: 52px;
            margin-left: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .main__container__offers__columLeft__back__line{
                width: auto;
                height: auto;
                z-index: 1;
                .main__container__offers__columLeft__back__line-svg{
                    position: absolute;
                    margin-top: 9px;
                }
                .main__container__offers__columLeft__back__line-svgLarge{
                    position: absolute;
                    margin-top: 17px;
                }
            }


            .main__container__offers__columLeft__back__container{
                width: 292px;
                height: 167px;
                display: flex;
                flex-direction: column;
                align-items: end;
                margin-right: 30px;
                //background-color: #727272;

                .main__container__offers__columLeft__back__container-bigText{
                    font-family: "Care pro Black";
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 24px;
                    width: 150px;
                    height: 48px;
                    color: #3D3D3D;
                    text-align: right;

                }
                .main__container__offers__columLeft__back__container-smallText{
                    margin-top: 9px;
                    width: 292px;
                    height: 45px;
                    color: #727272;
                    font-family: "Care pro Italic";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 25px;
                    text-align: right
                }
                .main__container__offers__columLeft__back__container-findMore{
                    font-family: "Care pro";
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    border-radius: 6px;
                    width: 140px;
                    height: 40px;
                    background-color: #46A358;
                    color: #ffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            
            }
        }
    }

    .main__container__offers__columRight{
        width: 591px;
        height: 100%;
        background-color: #46A358;
    }
}

.main__container__ourBlock{
    width: auto;
    height: auto;
    //background-color: aqua;
    display: flex;
    flex-direction: column;

    .main__container__ourBlock__header{
        width: auto;
        height: auto;
        //background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;

        .main__container__ourBlock__header-bigTest{
            font-size: 30px;
            font-weight: 700;
            line-height: 16px;
            font-family: "Care pro";
            color: #3D3D3D;
            margin-bottom: 15px;
        }
        .main__container__ourBlock__header-smallText{
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            font-family: "Care pro";
            color: #727272;
        }
    }
    .main__container__ourBlock__main{
        width: auto;
        height: auto;
        //background-color: rgb(169, 169, 169);
        display: flex;
        margin-bottom: 100px;

        .main__container__ourBlock__main__block{
            width: 268px;
            height: 362px;
            background-color: greenyellow;
            margin-right: 44px;

            .main__container__ourBlock__main__block-imgOne{
                width: 268px;
                height: 195.17px;
                background-color: #46A358;
                background-image: url("../../../public/png/ourBlockOne.png");
            }
            .main__container__ourBlock__main__block-imgTwo{
                width: 268px;
                height: 195.17px;
                background-color: #46A358;
                background-image: url("../../../public/png/02.png");
            }
            .main__container__ourBlock__main__block-imgTree{
                width: 268px;
                height: 195.17px;
                background-color: #46A358;
                background-image: url("../../../public/png/03.png");
            }
            .main__container__ourBlock__main__block-imgFour{
                width: 268px;
                height: 195.17px;
                background-color: #46A358;
                background-image: url("../../../public/png/04.png");
            }

            .main__container__ourBlock__main__block__textBlock{
                box-sizing: border-box;
                width: 100%;
                //height: 100%;
                background-color: #FBFBFB;
                padding: 9px 11px 12px 15px;

                .main__container__ourBlock__main__block__textBlock-textGreen{
                    color: #46A358;
                    font-family: "Care pro";
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 4px;
                }
                .main__container__ourBlock__main__block__textBlock-bigText{
                    color: #3D3D3D;
                    font-family: "Care pro";
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    width: 189px;
                    margin-bottom: 4px;
                }
                .main__container__ourBlock__main__block__textBlock-smallText{
                    color: #727272;
                    font-family: "Care pro";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 9px;
                }
                .main__container__ourBlock__main__block__textBlock-more{
                    width: 89px;
                    height: 17px;
                    display: flex;
                    align-items: center;
                    color: #3D3D3D;
                    font-family: "Care pro";
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    justify-content: center;
                }
            }
        }
        .main__container__ourBlock__main__block:last-child{
            margin-right: 0px;
        }
    }
}
.loading__container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c7dfcc;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    font-family: "Care pro";
    font-size: 45px;
    font-weight: 700;
}